.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(15, 7, 24, 0.95);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(168, 85, 247, 0.2);
}

.nav-container {
  max-width: 1200px;
  height: 75px;
  margin: auto;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 27px;
  font-weight: 700;
}

.logo span {
  color: #a855f7;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  white-space: nowrap;
}

.nav-links a {
  color: #ddd0e8;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c084fc;
}

.nav-button {
  color: white;
  text-decoration: none;
  background: #a855f7;
  padding: 10px 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.nav-button:hover {
  background: #c084fc;
  transform: translateY(-2px);
}

@media (max-width: 850px) {
  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 12px;
  }

  .nav-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-container {
    height: auto;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}